{% extends "_base.html" %}
{% block body %}
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About Us
                    <small>Who we are</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->


        <!-- Team Members -->
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="img/DKoester.jpg" alt="">
                    <div class="caption">
                        <h3>David Koester</h3>
                        <p>David Koester is a socio-cultural anthropologist specializing in the peoples of the North and especially peoples and cultures of the North Pacific and North Atlantic. He has been working with Itelmen people in Kamchatka since 1992. His main focus over the years has been Itelmen cultural revitalization, Itelmen music, the legacy of Soviet social policies and life histories of individuals, including the extensive life history of Tatiana Petrovna Lukashkina. He is interested in the study of songs and poetic forms in the Itelmen language and in helping with efforts to preserve the language through both traditional means and current technology.</p>
                        <ul class="list-inline">
                            <li><a href="http://www.facultysite.sinanewt.on-rev.com/"><i class="fa fa-2x fa-external-link-square "></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="img/JDBobaljik.jpg" alt="">
                    <div class="caption">
                        <h3>Jonathan David Bobaljik</h3>
                        <p>Jonathan David Bobaljik is a linguist at the University of Connecticut and has been involved in fieldwork documenting Itelmen since 1993. He works primarily in the areas of theoretical morphology and syntax, with a focus on linguistic universals. His book Universals of Comparative Morphology will appear this summer with MIT Press. </p>
                        <ul class="list-inline">
                            <li><a href="http://bobaljik.uconn.edu/"><i class="fa fa-2x fa-external-link-square "></i></a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Jennifer Jenson</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Marty Martin</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Richard Richmond</h3>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
{% endblock %}
