{% extends "_base.html" %}
{% block body %}
    <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('img/slider/Bat.jpg');"></div>
                <!--
                <div class="carousel-caption">
                    <h2>Caption 1</h2>
                </div>
                -->
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('img/slider/Elwel.jpg');"></div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('img/slider/School.jpg');"></div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('img/slider/Toliksleda2.jpg');"></div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>

    <!-- Page Content -->
    <div class="container">


        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Welcome to Itelmen
                </h1>
            </div>
        </div>
        <!-- Marketing Icons Section -->
        <div class="row row-height-equal">
            <div class="col-md-4 col-height-equal">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-flag"></i> Itelmen Language</h4>
                    </div>
                    <div class="panel-body">
                        <p>Originally Itelmen was spoken throughout Kamchatka, and possibly also in the northern Kuril Islands. Vladimir Atalsov, who annexed Kamchatka and established military bases in the region, estimated in 1697 that there were about 20,000 ethnic Itelmens. The 18th century explorer Stepan Krasheninnikov, who gave the first detailed description of the Itelmen language and culture, identified the three main dialects, but explained that all Itelmens could understand each other.</p>
                        <a href="http://en.wikipedia.org/wiki/Itelmen_language" target="_blank" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-height-equal">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-info"></i> This Site</h4>
                    </div>
                    <div class="panel-body">
                        <p>This website has been created to provide information about the project “Integrated Audio-Visual Documentation of Itelmen.” This is a collaborative endeavor between the University of Connecticut (Jonathan Bobaljik, PI) and the University of Alaska Fairbanks (David Koester, PI), with the further collaboration of Chiba University in Japan(Chikako Ono, PI). It inolves directly also Tatiana Degai (Ph.D. candidate, University of Arizona) and technical consultants and developers, Alexandre Arkhipov, Tom Myers, and Alexander Nakhimovsky. With funding from the National Science Foundation, the aim of the project is to integrate accumulated recordings of the Itelmen language with transcriptions into a digital corpus with additional linkages to Itelmen language.</p>
                        <a href="about.html" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-height-equal">
                <div class="panel panel-default panel-gmap">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8682834.880702231!2d165.0271435!3d57.90595090000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x59027a4c0d071461%3A0x123ce77fe88c7b8f!2sKamchatka+Krai%2C+Russia!5e0!3m2!1sen!2sus!4v1410715585059" frameborder="0" style="border:0"></iframe>
                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
{% endblock %}
{% block js %}
    {{ super() }}
    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>
{% endblock js %}
